<div class=" container-fluid mt-3 pl-0 pr-0  " style="margin-bottom: 2rem;">


    <div class="row ">

        <div class="col-md-12">
            <div class="card">
                <div class="card-body vh-min-100">
                    <table class="table table-dark   table-bordered">
                        <thead>
                            <tr>

                                <th class="col-1">Restoran </th>
                                <th class="col-2">Tarih</th>
                                <th>Müşteri</th>
                                <th class="col-1">Onay Kodu</th>
                                <th>Bölge</th>
                                <th class="col-md-1">Tutar</th>
                                <th class="col-md-2">Durum</th>


                            </tr>
                        </thead>
                        <tbody>
                            {{#each orders}}
                            <tr class="{{this.provider.slug}}">
                                <td>

                                    <div class="fw-medium  text-truncate">{{this.restaurant.name}}</div>


                                </td>
                                <td class="moment" data-time="{{this.created_at}}"></td>
                                <td>{{this.client.name}}</td>
                                <td>{{this.confirmationId}}</td>
                                {{#if this.client.location}}
                                <td>
                                    {{this.client.deliveryAddress.district}} <a target="_blank" class="text-secondary"
                                        href="https://www.google.com/maps/dir/{{this.client.location.lat}},{{this.client.location.lon}}/@{{this.client.location.lat}},{{this.client.location.lon}},15.75z?hl=en">
                                        <i class="fas fa-map-marker-alt text-warning"></i> </a>
                                </td>
                                {{else}}
                                <td c=>{{this.client.deliveryAddress.district}}</td>
                                {{/if}}
                                <td>
                                    {{totalPrice}}
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm w-100 buttons " data-row='{{json this}}'
                                        data-status="{{this.status}}">

                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class=" row">

        <div id="form">
            <div class="col-md-4">
                {{#if connected}}
                <button id="serverStatus" class="btn btn-sm btn-success">Bağlandı</button>
                {{else}}
                <button id="serverStatus" class="btn btn-sm btn-danger">Bağlantı
                    Koptu</button>
                {{/if}}
                <button type="button" class="switch btn btn-sm btn-secondary">Light</button>
                <!-- Placement Offcanvas -->


                <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                    aria-controls="offcanvasWithBothOptions"
                    class="btn  btn-primary btn-sm btn-label waves-effect waves-light">
                    <i class="fa-solid  text-white cursor-pointer fa-gear "></i> Ayarlar</button>

                <label class="pt-2 p-2"> {{enviroment.pos.bayi}} - {{enviroment.pos.name}}
                </label>

            </div>
            <div class="col-md-8">
                <div style="float:right"><label class="pt-2 pl-2"> version 1.2 </label></div>
                <i class="fa-solid d-none text-white cursor-pointer fa-gear fa-3x" style="float:right"></i>
            </div>


        </div>




    </div>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content  bg-danger">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bağlantı Hatası</h5>

            </div>
            <div class="modal-body">
                Sunucu ile geçiçi bir süre bağlantı koptu birkaç saniye içerisinde yeniden bağlanılacaktır
                lütfen
                bekleyiniz.
            </div>
            <div class="modal-footer">
                <button id="reconnect" type="button" class="btn btn-primary">Yeniden Bağlan</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content  bg-danger">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bağlantı Hatası</h5>

            </div>
            <div class="modal-body">
                Sunucu ile geçiçi bir süre bağlantı koptu birkaç saniye içerisinde yeniden bağlanılacaktır lütfen
                bekleyiniz.
            </div>
            <div class="modal-footer">
                <button id="reconnect" type="button" class="btn btn-primary">Yeniden Bağlan</button>
            </div>

        </div>
    </div>
</div>
