<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />


</head>

<body data-theme="dark">
    {{{body}}}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog  modal-fullscreen" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Entegrasyon Ayarları</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="accordion accordion-flush" id="accordionExample">


                        {{#each restaurants}}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne{{this._id}}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne{{this._id}}" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    {{this.name}}
                                </button>
                            </h2>
                            <div id="collapseOne{{this._id}}" class="accordion-collapse collapse "
                                aria-labelledby="headingOne{{this._id}}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{#each this.options}}
                                    <ol class="list-group  options text-white list-group-numbered"
                                        data-row="{{json this}}">

                                    </ol>

                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-success">Değişiklikleri Kaydet</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function addOption(row) {
            let slug = 'Getir Yemek'
            if (row.slug == 'ys') {
                slug = 'Yemeksepeti'
            } else if (slug == 'ty') {
                slug = 'Trendyol Yemek'
            }
            let status = 'Açık'
            if (!row.status) {
                status = 'Kapalı'
            }
            let cls = row.status == false ? 'bg-danger' : 'bg-success'
            let attr = row.status ? 'checked' : ''

            let html = ` <li class="list-group-item d-flex justify-content-between optionTitle align-items-start">
                                            <div class="ms-2 me-auto ">
                                                <div class="fw-bold  ">${slug}</div>
                                               <div class="form-check form-switch">
        <input class="form-check-input" data-id="${row._id}" type="checkbox" ${attr}  role="switch" id="flexSwitchCheckDefault${row._id}">
        <label class="form-check-label" for="flexSwitchCheckDefault${row._id}">Kapalı/Açık</label>
    </div>
                                            </div>
                                            <span class="badge  ${cls} rounded - pill">${status}</span>
                                        </li > `


            return html

        }
        function modalYukle(rowData) {
            let products = ``
            if (Array.isArray(rowData.products)) {
                rowData.products.forEach(element => {
                    let optionCategories = ``
                    if (Array.isArray(element.optionCategories)) {
                        element.optionCategories.forEach(cat => {
                            if (cat.hasOwnProperty('options')) {
                                if (Array.isArray(cat.options)) {
                                    let options = cat.options.map(x => x.name.tr);
                                    options = options.join(',')
                                    optionCategories += `< li > ${cat.name.tr}: ${options}</li > `
                                } else {
                                    optionCategories += `< li > ${cat.name.tr}</li > `
                                }
                            } else {
                                optionCategories += `< li > ${cat.name.tr}</li > `
                            }



                        })
                    }
                    products += `< tr style = "border-bottom: 1px solid rgb(221, 221, 221);" >
                            <td style="font-size: 15pt;">${element.name.tr}
                              <ul>
                                    ${optionCategories}
                                   
                                </ul>
                            </td>
                            <td class="text-right" style="font-size: 15pt;">₺ ${element.priceWithOption}</td>
                            <td class="text-right" style="font-size: 15pt;">${element.count}</td>
                            <td class="text-right" style="font-size: 15pt;">₺ ${element.priceWithOption}</td>
                </tr > `

                });

            }

            let deliveryType = rowData.deliveryType == 2 ? 'Restoran Kuryesi Teslim Edecek!' : 'Entegrasyon Kuryesi Teslim Edecek! '
            let html = `<div class="modal fade" id = "modal${rowData._id}" tabindex = "-1" role = "dialog" aria - labelledby="exampleModalLabel" aria - hidden="true" >
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sipariş Özeti</h5>
                        <button type="button" class="close btn btn-danger btn-sm" data-id="${rowData._id}" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-4 flex-column">
                            <div class="w-100 text-center">
                                <h1>${rowData.provider.kaynak}</h1>
                            </div>
                            <div class="mt-4 w-100 row">
                                <div class="col">
                                    <div class="my-1 mx-1 row">
                                        <span class="my-1"
                                            style="font-size: 15pt; color: red; font-weight: 600;">
                                            Teslimat Tipi : ${deliveryType}
                                        </span>
                                    </div>
                                    <div class="my-1 mx-1 row"><span class="my-1"
                                        style="font-size: 15pt; color: red; font-weight: 600;">
                                        Ödeme Yöntemi : ${rowData.paymentMethodText ? rowData.paymentMethodText.tr : rowData.paymentMethod}</span>
                                    </div>
                                    <div class="my-1 mx-1 row"><span class="my-1" style="font-size: 15pt;">Restoran
                                        : ${rowData.restaurant.name}</span></div>
                                    <div class="my-1 mx-1 row"><span class="my-1" style="font-size: 15pt;">Onay Kodu
                                        : ${rowData.confirmationId}</span></div>
                                    <div class="my-1 mx-1 row"><span class="my-1" style="font-size: 15pt;">Sipariş Tarihi
                                        : ${moment(rowData.created_at).format('H:mm DD.MM.YYYY')}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table width="100%">
                            <thead>
                                <tr style="border-bottom: 1px solid rgb(170, 170, 170);">
                                    <th style="font-size: 15pt;">Ürün</th>
                                    <th class="text-right" style="width: 90px; font-size: 15pt;">Fiyat</th>
                                    <th class="text-right" style="width: 90px; font-size: 15pt;">Adet</th>
                                    <th class="text-right" style="width: 90px; font-size: 15pt;">Tutar</th>
                                </tr>
                            </thead>
                            <tbody>
                                ${products}

                                <tr>
                                    <td colspan="4" class="text-right" style="font-size: 15pt; font-weight: bold;">Toplam : ₺
                                        ${rowData.totalPrice}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="mt-3"></div>
                        <div class="mt-3" style="font-size: 15pt;">
                            <p class="mb-1"><b>Müşteri:</b> ${rowData.client.name}</p>
                            <p class="mb-1"><b>Adres:</b> ${rowData.client.deliveryAddress.address}</p>
                            <div class="container">
                                <div class="row">
                                    <p class="mb-1 mr-2"><b>Apt No:</b>${rowData.client.deliveryAddress.aptNo}</p>
                                    <p class="mb-1 mr-2"><b>Daire No:</b> ${rowData.client.deliveryAddress.doorNo}</p>
                                    <p class="mb-1 mr-2"><b>Kat:</b> ${rowData.client.deliveryAddress.floor}</p>
                                </div>
                            </div>
                            <p class="mb-1"><b>Adres Tarifi:</b> ${rowData.client.deliveryAddress.description}</p>
                            <p class="mb-1 pb-1" style="border-bottom: 1px solid rgb(221, 221, 221);"><b>Müşteri İletişim:</b>
                                ${rowData.client.clientPhoneNumber}</p>
                            <p class="text-center">
                                <button class="btn sendAgain mt-4 btn-info" data-pid="${rowData.pid}" >Yeniden Gönder</button>
                            </p>


                        </div>
                    </div>

                </div>
            </div>
</div > `
            return html;
        }
        $('#exampleModal').on('show.bs.modal', function (e) {
            // do something...
            $("#serverStatus").removeClass('btn-success').addClass('btn-danger').html('Bağlantı Koptu')
        })
        $('#exampleModal').on('hidden.bs.modal', function (e) {
            // do something...
            $("#serverStatus").removeClass('btn-danger').addClass('btn-success').html('Bağlandı')
        })
        function baglantiKoptu() {
            $('#exampleModal').modal({ backdrop: 'static', keyboard: false })
            $('#exampleModal').modal('show')
        }
        function baglan() {
            $('#exampleModal').modal('hide')
            $("#serverStatus").removeClass('btn-danger').addClass('btn-success').html('Bağlandı')
        }
        function socket() {
            let userId = '{{USER_ID}}'
            let channel = `private - trigger.${userId} `
            let event = 'Trigger'

            var channelUser = pusher.subscribe(channel)
            channelUser.bind('pusher:subscription_succeeded', async () => {
                baglan()
                tabloYukle(table)
            })
            channelUser.bind("pusher:subscription_error", (error) => {
                console.log(error)
                baglantiKoptu()
            });
            channelUser.bind('client-connected', async (data) => {
                if (data.connected) {
                    baglan()

                }
            })
            var socketId = null;
            pusher.connection.bind("connected", () => {
                socketId = pusher.connection.socket_id;
                console.log(socketId)
            });
        }



        function getButtons(row, data, status) {

            let statues = []
            statues[325] = '<button class="btn btn-sm btn-warning w-100">Ön Onay Bekliyor</button> '
            statues[350] = '<button class="btn btn-sm btn-success w-100">Ön Onay Verildi</button> '
            statues[1600] = '<button class="btn btn-sm btn-danger w-100">İptal Edildi</button> '
            statues[400] = '<button class="btn btn-sm btn-warning w-100 dugme " data-status="400" data-restaurant="' + row.restaurantId + '"  data-pid="' + row.pid + '" data-deliver="' + row.deliveryType + '" data-provider="' + row.slug + '" data-id="' + row['_id'] + '">Onay Bekliyor</button> '
            statues[500] = '<button class="btn btn-sm btn-success w-100">Onaylandı</button> '
            statues[550] = '<button class="btn btn-sm btn-info w-100"> Hazırlandı</button> '
            statues[600] = '<button class="btn btn-sm btn-secondary w-100">Teslim Edildi (Kurye)</button> '
            statues[700] = '<button class="btn btn-sm btn-info w-100">Yolda</button> '
            statues[800] = '<button class="btn btn-sm btn-secondary w-100">Teslim Edildi (Kurye)</button> '
            statues[900] = '<button class="btn btn-sm btn-secondary w-100">Teslim Edildi</button> '
            statues[1500] = '<button class="btn btn-sm btn-danger w-100">İptal Edildi (Site)</button> '
            let notExists = [600, 800, 900, 1500, 1600]
            if (statues[data]) {
                if (notExists.indexOf(data) == -1) {
                    status = `${statues[data]} <button type="button" class="btn dugme btn-sm btn-danger w-100" data-restaurant="${row.restaurantId}" data-deliver="${row.deliveryType}" data-pid="${row.pid}" data-status="1600" data-provider="${row.slug}" data-id="${row['_id']}" >İptal Et</button> <button type="button" data-id="${row._id}" class="btn modalAc btn-sm btn-secondary w-100">Detay</button>`
                } else {
                    status = statues[data]
                }
            }

            return status
        }

        $('.options').each(function (index, el) {
            let row = $(this).data('row')
            $(this).html(addOption(row))
            $('.form-check-input').on('change', function () {
                let status = false
                if (this.checked) {
                    status = true;
                }
                $.ajax({
                    method: "POST",
                    url: "/changeRestaurantStatus",
                    data: { status }
                })
                    .done(function (res) {
                        console.log(res)
                    })
            })
        })
        $('.moment').each(function (index, el) {
            let time = $(this).data('time')
            $(this).html(moment(time).format('YYYY-MM-DD HH:mm:ss'))
        })
        $("#loginForm").submit(function (event) {
            event.preventDefault();
            $.ajax({
                method: "POST",
                url: "/token",
                data: $(this).serializeArray()
            })
                .done(function (res) {
                    if (res.success) {
                        console.log(res)
                        window.location.reload()
                    } else {
                        console.log(res)
                        let translations = {
                            'Unauthenticated.': "Geçersiz Key",
                        }
                        $("#error").html(translations[res.msg] ? translations[res.msg] : res.msg)
                        $("#error").removeClass('d-none')
                    }
                });
        });

        $('.buttons').each(function (index, el) {
            let status = $(this).data('status')
            let row = $(this).data('row')

            let btn = getButtons(row, status, 400)

            $(this).html(btn)
            let html = modalYukle(row)
            $("body").append(html)


            $(".dugme").on('click', function () {
                let dataId = $(this).data('id')
                let status = $(this).data('status')
                let provider = $(this).data('provider')
                let deliveryType = $(this).data('deliver')
                let pid = $(this).data('pid')
                let restaurantId = $(this).data('restaurant')

                $.ajax({
                    method: "POST",
                    url: `/ changeStatus`,
                    data: {
                        status,
                        provider,
                        id: dataId,
                        pid,
                        deliveryType,
                        restaurantId
                    }
                })
                    .done(function (res) {
                        if (res.success) {

                            // window.location.reload()
                            table.ajax.reload();
                            setTimeout(function () {
                                tabloYukle(table)
                            }, 1500)


                        }
                    });
            })

        })

        $(".modalAc").on('click', function () {
            let id = $(this).data('id')
            console.log('', "orders")
            $('#modal' + id).modal('show')
        })
        $(".close").on('click', function () {
            let id = $(this).data('id')
            $('#modal' + id).modal('hide')
        })
        $('.sendAgain').on('click', function () {
            let id = $(this).attr('data-pid')
            console.log(id)
            $.ajax({
                method: "GET",
                url: "/sendAgain?id=" + id,
            })
                .done(function (res) {
                    console.log(res)
                })
        })
        $(".settings").on('click', function () {
            const myModal = new bootstrap.Modal('#settingModal', {
                keyboard: false,
                backdrop: false,
            })
            myModal.show()
        })

        $('.switch').on('click', function () {
            let theme = $('body').attr('data-theme')
            let text = 'Dark'
            if (theme == 'dark') {
                text = 'Dark'
            } else {
                text = 'Light'
            }
            $('.switch').text(text)

            if ($('body').attr('data-theme') == 'dark') {
                $('.ys').css('color', '#000')
                $('.ty').css('color', '#000')
                $('.getir').css('color', '#000')

                $('body').attr('data-theme', 'light')
            } else {
                $('.ys').css('color', '#fff')
                $('.ty').css('color', '#fff')
                $('.getir').css('color', '#fff')
                $('body').attr('data-theme', 'dark')
            }

        })
    </script>

</body>

</html>
